<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<script src="./base64.min.js"></script>
<body>
</body>
<script>
  var er_code = 'http://182.92.11.64:8081/1/qrcode?text=http://dc-c.zlycare.com?docChatNum='
    , logo = 'http://7j1ztl.com1.z0.glb.clouddn.com/24_logo.png?imageView2/0/w/40'
    , bg = 'http://7j1ztl.com1.z0.glb.clouddn.com/card_bg.png?watermark/3'
    , icon = 'http://7j1ztl.com1.z0.glb.clouddn.com/businesscard_btn_tel.png?imageView2/0/w/32';
  var base64 = function(str){
    return Base64.encode(str).replace(/\+/g, '-').replace(/\//g, '_');
  };
  var getImgUrl = function(img, dx, dy){
    return '/image/' + base64(img) + '/gravity/NorthWest/dx/' + dx + '/dy/' + dy;
  };
  var getTextUrl = function(text, font, size, color, dx, dy){
    return '/text/' + base64(text) + '/font/' + base64(font)
      + '/fontsize/' + size + '/fill/' + base64(color) + '/gravity/NorthWest/dx/' + dx + '/dy/' + dy;
  };



  var getQrCode = function(o){
    var name = o.name || ''
      , phone = o.phone
      , company = o.company
      , text = o.department + (o.position? ' | ' + o.position: '');

    var url = bg
      + getImgUrl(er_code + phone +'&size=7', 479, 205)// 479,205
      + getTextUrl(name,'微软雅黑', 640, '#535353', 46, 46)
      + getImgUrl(icon, 32 * name.length + 76, 51)
      + getTextUrl(phone, '微软雅黑', 640, '#2c99cc', 32 * name.length + 118, 46)
      + getImgUrl(logo, 479 + 110, 205 + 110)
      + getTextUrl('扫码 → 下载 → 拨号', '微软雅黑', 420, '#2c99cc', 513, 440);
      if(text)
        url += getTextUrl(text, '微软雅黑', 480, '#535353', 46, 102);
      if(company)
        url += getTextUrl(company, '微软雅黑', 480, '#bfbfbf', 46, 150);
    console.log(getTextUrl(company, '微软雅黑', 480, '#bfbfbf', 46, 150));
    return url;
  };
  var persion = {
    name: '易翔',
    department: '产品技术部',
    phone: '00002',
    company: '北京朱李叶健康科技有限公司',
    position: '产品经理'
  };
  console.log(getQrCode(persion));
</script>
</html>

g